html
{
    font-size: 16px;
}

*,*::after,*::before
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body
{
    background-color: #fff;
    /* overflow: hidden; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

li
{
    list-style: none;
}

a
{
    color: black;
    text-decoration: none;
    font-weight: 700;
}

hr
{
    height: 1px;
    background-color: #E7E7E7;
    border: none;
}